<body>
    <div class="section">
        <div class="section-title">
            <h3>CUSTOM DESIGN</h3>
        </div>

        <div class="custom-section">
            <div>
                <img src="img/custom.jpg" alt="">
            </div>
            <div>
                <h4>JUST CHOOSE ONE OF THE SUPERHEROES TO DESIGN THE COVER OF YOUR NEXT COMIC</h4>
                <p></p>
                <div>
                    <button class="btn-two">CUSTOMIZE IT!</button>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>